<!DOCTYPE html>

<html>
<head>
    @*<script type="text/javascript">
        $(document).ready(function () {
            $("#lang").val("ger");
        });
    </script>*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flughafen Taxi Bond</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
            background-color: inherit;
        }
    </style>
    
</head>
<body>
    <div class="row">
        <div class="text-center" style="padding-bottom:10px;">
            <div style="display:inline-block">
                <img src="~/Content/pic/taxi logo.jpg" style="height:55px;width:250px;margin-right:118px;" />
                   @* <img style="width:80px;height:80px;" src="~/Content/pic/vienna-airport-cab-banner.gif" />*@
                
            </div>
            <div id="brTel" style="display:inline-block;margin-left:3px;"><i class=" fa fa-phone fa-2x"></i>&nbsp;+43 69912588883</div>
            <div style="display:inline-block;margin-left:150px;">
                <img src="~/Content/pic/card.jpg" />

            </div>
            <div style="display:inline-block;margin-left:150px;">
                <a><img src="~/Content/pic/british-flag.jpg" style="cursor:pointer" id="flagEng"/></a>
                <a><img src="~/Content/pic/flag-german.jpg" style="cursor:pointer" id="flagGer"/></a>
            </div>
        </div>


        <div class="container" id="Flaughafentaxi">

            @*<hr style="border: 2px solid red;" />
                <hr style="border: 2px solid red;" />*@
        </div>
    </div>

    <div class="jumbotron" style="padding-top:50px;margin-top:50px;">

        <div class="container body-content">
            <div class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                        <label id="logo" class="navbar-brand" style="cursor:pointer">
                            @*<img src="~/Content/pic/JamesBond007Pix.jpg" style="height:35px;width:80px;" />*@
                        </label>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" style="padding-top:7px;">
                            <li><a id ="home" href="/Home/Index"></a></li>
                            <li><a id="about" href="/Home/About"></a></li>
                            <li class="dropdown">
                                <a href="#" id="booking" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a id="toairport" href="/Booking/Booking"></a></li>
                                    <li><a id="fromairport" href="/BookingFrom/BookingFrom"></a></li>
                                    @*<li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>*@
                                </ul>
                            </li>
                            <li><a id="contact" href="/Home/Contact"></a></li>

                        </ul>
                    </div>
                </div>
            </div>
            @*<h1>Taxi airport Vienna</h1>*@

            @RenderBody()
        </div>
    </div>
    <img id="bannerBesplVoznj"  src="~/Content/pic/vienna-airport-cab-banner.gif" />
    <hr />
    <footer>
        <p style="color:white">&copy; @DateTime.Now.Year - DViG Development Team</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    
    <link href="~/Scripts/select2.css" rel="stylesheet" />
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.noty.packaged.min.js"></script>
    <script src="~/Scripts/Application/resources-ger.js"></script>    

    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>*@
</body>
</html>
